/* this is the footer section */
footer {
  margin: 0;
  padding: 0;
  background-color: #34393a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(189, 166, 120);
}
/* onoma etairias */
footer .onomaeterias{
  margin: 0;
  padding: 0;
}
footer .onomaeterias p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  letter-spacing: 10px;
  text-align: center;
}
footer .onomaeterias p:nth-child(2){
  margin-top: 3px;
  font-size: 10px;
  
}
/* copyright text */
footer .copyright {
  font-size: 22px;
}
/* social media */
.social-media {
  margin: 0;
  padding: 0px 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.social-media .instagram {
  background-image: url(img/2.png);
  width: 52px;
  height: 45px;
}
.social-media .instagram:hover {
  background-image: url(img/2hover.png);
}
.social-media .facebook {
  background-image: url(img/3.png);
  width: 52px;
  height: 45px;
}
.social-media .facebook:hover {
  background-image: url(img/3hover.png);
}
.social-media .youtube {
  background-image: url(img/4.png);
  width: 52px;
  height: 45px;
}
.social-media .youtube:hover {
  background-image: url(img/4hover.png);
}
@media (max-width: 585px) {
  footer .onomaeterias p:nth-child(1),
  footer .onomaeterias p:nth-child(2){
    font-size: 0.4rem;
  }
  .social-media{
    padding: 0;
    gap: 0px;
  }
  .social-media .instagram,
  .social-media .facebook,
  .social-media .youtube
   {
    transform: scale(40%);
  }
  footer .copyright {
    font-size: 8px;
  }
}