.firstSection{
  margin: 2px 0px;
  border: 1px solid black;
  background: rgb(19,86,102);
background: linear-gradient(90deg, rgba(19,86,102,1) 0%, rgba(121,99,9,1) 49%, rgba(117,22,33,1) 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.firstSection h1{
  color: aliceblue;
  text-shadow: 1px 3px 0 #969696, 1px 6px 5px #aba8a8;
}
.firstSection p{
  padding: 30px;
  color: rgb(212, 222, 226);
}